$body-backgroundcolor: #000000;
$color-orage: #F6921E;
$color-orage2: #FFAD0D;
$color-orage4: antiquewhite;
$color-orage6: #fdf9f3;
$color-orage10: #f6911e9f;
$color-white: #ffffff;
$color-black: #000000;
$color-black4: #202020;
$color-black10: #00000038;
$color-green: #5B913B;