@use 'config' as *;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", serif;
    line-height: 1;
    min-width: 320px;
    background-color: $body-backgroundcolor;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    cursor: pointer;
}

a{
    text-decoration: none;
}

.boxsize__popup{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white10;
    z-index: 1;

    .boxsize__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 25px;
        padding: 3rem 3rem;
        background-color: $color-black2;
        border-radius: 15px;

        label{
            font-weight: 600;
            font-size: 2rem;
        }

        input{
            width: 25%;
            height: 40px;
            font-size: 20px;
            padding-left: 10px;
            border: none;
            border-radius: 7px;
        }
    }
}

.gamepage{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    width: 90%;
    max-width: 700px;
    align-items: center;
    justify-content: center;

    .gamepage__heading{
        font-size: 3rem;
        font-weight: bolder;
    }

    .gamepage__player{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .gamepage__box{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,150px);
        gap: 7px;

        button{
            border: none;
            border-radius: 10px;
            background-color: $color-black4;
            font-size: 7rem;
            font-weight: bold;
        }

        .x{
            color: red;
        }

        .o{
            color: #2778ec;
        }
    }
}

.gamepage__buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn{
    color: $color-white;
    background-color: $color-green;
    padding: 1.2rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.gamepage__changeboxsize{
    padding: 1.2rem 1rem;
}